@charset "ISO-8859-1";

		#bar {
        	 width: 100%;
        	 height: 600px; 
        }
        
        svg {
            width: 100%;
            height: 100%;
        }
		
		#bubble {
            width: 600px;
            height: 550px;
        }
        
        #barByCategory {
        	width: 100%;
            height: 600px;
        }
        
        div.tooltip {	
            position: absolute;			
            text-align: center;			
            width: 100px;					
            height: 38px;					
            padding: 2px;				
            font-family: 'Lato', sans-serif;
            font-size: 12px;	
            background: lightsteelblue;	
            border: 0px;		
            border-radius: 8px;			
            pointer-events: none;			
        }
        
        ul.nav.navbar-left.active a{
        	background-color:#303136;
        }
		
		.line {
            fill: none;
            stroke: #ffab00;
            stroke-width: 3;
        }
        
        .dot {
            fill: #ffab00;
            stroke: #fff;
        }